{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Adicionar Usuário</title>
</head>
<body>
   <form class="" action="" method="post">
       {% csrf_token %}
       {{ form.as_p }}
 
       <div>
           <button type="submit">
               Cadastrar
           </button>
       </div>
 
       <div>
           <button>
               <a href="/accounts/login/">
                   Entrar
               </a>
           </button>
       </div>
   </form>
</body>
</html>
