{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Login</title>
</head>
<body>
<form class=""  action="" method="post">
    {% csrf_token %}
   <div>
       <input type="text" name="username" placeholder="usuario">
   </div>
   <div>
       <input type="password" name="password" placeholder="Password">
   </div>
   <div>
       <button>
           Entrar
       </button>
   </div>
  <div>
     <button>
            <a href="/accounts/novo-usuario/">
                Cadastrar Novo Usuario
            </a>
     </button>
  </div>
 
</form>
</body>
</html>

