{% extends "base.html" %}
 
{% block body %}
<div class="col-sm-12">
   <div class="row">
       <h3><strong>Postagens - Loja do Maker</strong></h3>
 
   {% if user.is_authenticated %}
       <p>Você está logado!</p>
       {{ user.get_full_name|default:user.username }}
       <a href="/postar/">Postar</a>
       <a href="/postagens/">Postagens</a>
       <a href="/accounts/logout-usuario/">Sair</a>
   {% else %}
       <a href="/accounts/login">Login</a>
   {% endif %}
<br>
<br>
   {% if postagens %}
       <table class="table">
           <thead>
               <tr>
                   <th>Título</th>
                   <th>Autor</th>
                   <th>Data de Publicação</th>
                   <th>Conteudo</th>
               </tr>
           </thead>
           <tbody>
           {% for p in postagens %}
               <tr>
                   <td>{{ p.titulo }}</td>
                   <td>{{ p.autor }}</td>
                   <td>{{ p.publicado }}</td>
                   <td>{{ p.conteudo }}</td>
               </tr>
           {% endfor %}
           </tbody>
       </table>
   {% else %}
       <strong>Não Existe Post Publicados</strong>
   {% endif %}
  
   </div>
</div>
{% endblock body %}
