<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Adicionar Post</title>
</head>
<body>
<form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div>
        <button type="submit">
            Salvar{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

        </button>
    </div>

    <div>
        <button>
            <a href="/postagens/">
                Voltar
            </a>
        </button>
    </div>
</form>
</body>
</html>
